$fontFamily: -apple-system, BlinkMacSystemFont, Verdana, Tahoma, sans-serif;
$brandColorLight: #e8edf3;
$brandColorDark: #22264b;
$brandColorWhite: #FFFFFF;
$brandColorBlack: #000000;
$brandColorRed: #b35454;
$fontSizeBase: 15px;
$fontSizeSmall: .9rem;
$fontSizeVerySmall: .8rem;
$fontSizeLarge: 1.1rem;
$fontSizeFull: 1rem;
$fontSizeIcon: 35px;