{
    "presets": [
        "latest"
    ],
    "ignore": "/node_modules/",
    "plugins": [
        [ "transform-vue-jsx" ],
        [ "babel-plugin-webpack-alias", { "config": "./config/webpack.base.config.babel.js" } ]
    ]
}